CciConfig(
    presets: [
        RustLibrary(RustLibraryConfig(
            version: "stable",
            coverage: true,
            linter: true,
            security: true,
            formatter: true,
        )),
    ],
)
